.kp-input {
  width: 100%;
  background: $w-white;
  border: 1px solid $border-base;
  border-radius: 4px;
  height: 40px;
  line-height: 40px;
  padding: 0 15px;
  outline: none;
  transition: border-color .2s cubic-bezier(.645, .045, .355, 1);
  font-size: 1.4rem;

  &::placeholder {
    color: $placeholder-text;
  }


  &:hover {
    border: 1px solid $border-hover;
  }

  &:focus {
    outline: none;
    border: 1px solid $primary-color;
  }
}